.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 50px 0;
  padding: 0 60px;
}


.leftSidebar {
  background-color: rgb(212, 212, 212);
}

.header {
  display: grid;
  text-align: center;
}

.profilePicDiv {
  border: solid 1.5px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: grid;
  margin: 45px auto 0 auto;
  place-content: center;
  background-size: cover;
  background-position: top;
  overflow: hidden;

}



.profilePicDiv:hover+profilePicLabel {
  display: block;
  border: solid;
}

.cursorPointer:hover {
  cursor: pointer;
}


.profilePicDiv:hover {
  background-color: rgba(0, 0, 0, 0.168);
  transition: all .4s ease;
}

.hidden {
  display: none;

}


.default-input-style {
  background-color: transparent;
  border: 0;
  color: rgb(55, 55, 55);
}

.h1-center-bold {
  text-align: center;
  font-size: 31px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.default-input-style:hover {
  background-color: #d3d3d359;
  cursor: pointer;
}

.default-textarea-style {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  resize: none;
  border: 0;
  overflow: clip;
  text-align: center;
  background-color: transparent;
  color: #9E9E9E;
}

.default-textarea-style:hover {
  background-color: #d3d3d359;
  cursor: pointer;
}

.default-textarea-style:focus {
  outline: 5px auto Highlight;
  /* Firefox */
  outline: 5px auto -webkit-focus-ring-color;
  /* Chrome, Safari */
}

.introText {
  font-size: 14.5px;
  line-height: 1.2;
  min-width: 380px;
  padding: 1px;
  margin: 10px auto 0 auto;
}