.parentDiv {
  display: grid;
  height: 100%;
}


.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 0 0 10px 0;
  padding: 0 30px;
}


.header {
  display: grid;
  text-align: center;
}

.profilePicDiv {
  border: solid 1.5px;
  border-radius: 50%;
  height: 135px;
  width: 135px;
  display: grid;
  margin: 20px auto 0 auto;
  place-content: center;
  background-size: cover;
  background-position: top;
  overflow: hidden;

}

.profilePicDiv:hover+profilePicLabel {
  display: block;
  border: solid;
}

.cursorPointer:hover {
  cursor: pointer;
}


.profilePicDiv:hover {
  background-color: rgba(0, 0, 0, 0.168);
  transition: all .4s ease;
}

.hidden {
  display: none;

}


.default-input-style {
  background-color: transparent;
  border: 0;
  color: rgb(55, 55, 55);
}

.h1-center-bold {
  text-align: center;
  font-size: 41px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.default-input-style:hover {
  background-color: #d3d3d359;
  cursor: pointer;
}

.default-textarea-style {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  border: 0;
  overflow: clip;
  text-align: center;
  background-color: transparent;
  color: #9E9E9E;
  overflow: clip;
  min-height: 50px;
  max-height: 100px;
}

.default-textarea-style:hover {
  background-color: #d3d3d359;
  cursor: pointer;
}

.default-textarea-style:focus {
  outline: 5px auto Highlight;
  /* Firefox */
  outline: 5px auto -webkit-focus-ring-color;
  /* Chrome, Safari */
}

.introText {
  font-size: 15px;
  line-height: 1.2;
  min-width: 507px;
  padding: 1px;
  margin: 10px auto 0 auto;
}

/* Under testing SKIILS */
.leftSide,
.rightSide {}

/* Container for the label and slider */
.skill-slider-container {
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #9E9E9E;
}

.skill-label {
  display: flex;
  justify-content: space-between;

  font-weight: normal;
}

/* The Slider Track (The grey background) */
.skill-range-input {

  width: 100%;
  height: 6px;
  background: #e0e0e0;
  /* Light grey */
  border-radius: 5px;
  outline: none;
  appearance: none;
  /* Vital: Removes default browser styling */
  cursor: pointer;
  /* Vital for Printing: Forces the browser to print the background color */
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* The Slider Thumb (The circle you drag) */
.skill-range-input::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--main-color-dark);
  /* Dark color for the knob */
  border-radius: 50%;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

/* Hover effect for the thumb */
.skill-range-input::-webkit-slider-thumb:hover {
  background: #000;
  transform: scale(1.1);
}

/* Skills and add and remove */
/* --- DELETE BUTTON LOGIC --- */

/* 1. By default, the delete button is invisible */
.delete-btn {
  opacity: 0;
  color: var(--secondary-color);
  transition: opacity 0.2s ease-in-out;
  /* Smooth fade */
  pointer-events: none;
  /* Prevents clicking it while invisible */
}

/* 2. When you hover over the ROW, make the button visible */
.skill-row:hover .delete-btn {
  opacity: 1;
  pointer-events: auto;
  /* Re-enable clicking */
}


.workExpSingle:hover .delete-btn {
  opacity: 1;
  pointer-events: auto;
  /* Re-enable clicking */
}

.singleEduDiv:hover .delete-btn {
  opacity: 1;
  pointer-events: auto;
}


/* --- ADD BUTTON LOGIC --- */

/* 3. By default, the add button is invisible */
.add-btn-container {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* 4. When you hover over the ENTIRE SECTION, show the add button */
.skills-section:hover .add-btn-container {
  opacity: 1;
}

.titleSection:hover .add-btn-container {
  opacity: 1;
}

.jobPosition,
.eduMajor,
.langName {
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13.8px;
}

.eduMajor {
  width: 100%;
}

.langDiv {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.jobYear,
.eduYears,
.eduUni {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 13.8px;
  color: var(--secondary-color);
}



.jobYear {
  justify-items: end;
}

.eduYears {
  position: relative;
  top: -6px;
}

.eduUni {
  position: relative;
  top: -12px;
}

.positionDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.jobCompany {
  color: var(--secondary-color);
  font-size: 13.8px;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.jobDesc {
  text-align: left;
  font-size: 13.8px;
  margin-top: 10px;
}

.workExpSingle {
  display: grid;
  border-bottom: 3px solid var(--secondary-color-light);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.eduDiv {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.eduYearsDiv {
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 1fr;
}

/* Footer Style */
.footerDiv {
  display: grid;
}

.cv-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  /* Design Specs */
  background-color: #3D3D3D;

  padding: 10px 0;
  /* "Just enough height" */
  width: 100%;
  height: 50px;

  /* Vital for Printing: Forces the browser to print the background color */
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  /* Horizontal Layout */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: end;
  gap: 15px;
  /* Space between items */

  margin-top: auto;
  /* Pushes it to bottom if using flex-col layout */

}

.footerText {
  display: grid;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #9E9E9E;
  font-size: 0.9rem;
  text-align: center;
}