#root {
  max-width: 1280px;
  margin: 0 auto;
}

.mainContainer {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 5px;
}


.leftSidebar {
  background-color: rgb(212, 212, 212);
}

.header {
  display: grid;
  text-align: center;
}

.profilePicDiv {
  border: solid 2px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: grid;
  margin: 0 auto;
  place-content: center;
  background-size: cover;
  background-position: top;
  overflow: hidden;

}



.profilePicDiv:hover+profilePicLabel {
  display: block;
  border: solid;
}

.cursorPointer:hover {
  cursor: pointer;
}


.profilePicDiv:hover {
  background-color: rgba(0, 0, 0, 0.168);
  transition: all .4s ease;
}

.hidden {
  display: none;

}


/* experimental */
input {
  background-color: transparent;
  border: 0;
  padding: 8px;
  color: black;
}

input:hover {
  background-color: #d3d3d346;
  cursor: pointer;
}