@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(41, 39, 39, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 794px;
  margin: 0 auto;
  border: 3px dotted rgba(0, 0, 0, 0.245);

  --main-color: #5FDE5B;
  --main-color-dark: #25a221;
  --secondary-color: #9E9E9E;
  --secondary-color-light: #E0E0E0;
  ;
}

body {
  margin: 0;
}

@page {
  margin: 0cm;
  size: a4 portrait;
}

p {
  margin: 0;
}

/* Only applies when printing or saving as PDF */
@media print {

  /* Hide the thumb/knob so it just looks like a bar */
  .skill-range-input::-webkit-slider-thumb {
    display: none;
  }

  /* You might need to use a linear-gradient background trick 
     to show the progress color if the thumb is gone, 
     but this is a quick fix. */
}